<form class="text-light" [formGroup]="formLogin" (submit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input type="email" class="form-control rounded-0" formControlName="email" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control rounded-0" formControlName="pass">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-light mt-auto rounded-0">Ingresar</button>

    </div>

</form>