<div class="container px-4 px-lg-5 mt-5">

    <div class="text-center">
        <h2 class="display-4 fw-bolder">Lista hoteles</h2>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let hotel of hoteles">
            <div class="card h-100">

                <!-- Hotel imagem-->
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                <!-- Hotel detalles-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Hotel nombre-->
                        <h5 class="fw-bolder">{{hotel.nombre}}</h5>
                        <!-- Hotel estrellas-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <h5> {{hotel.estrellas}}</h5>
                            &nbsp;
                            <div class="bi-star-fill"></div>

                        </div>
                        <!-- Hotel precio reservas-->

                       <!--  <span class="text-muted">Desde</span>
                        &nbsp;
                        <strong *ngFor="let habitacion of habitaciones">
                            <p *ngIf="habitacion.idHotel==hotel.id">{{habitacion.precioAlta|currency: 'COP ':true:'2.0'}}</p>
                        </strong> -->
                    </div>
                </div>
                <!-- Hotel actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/habitacionesHotel/',hotel.id]">Ver m&aacute;s</a></div>
                </div>
            </div>
        </div>


    </div>
</div>